.container {
  text-align: center;
  background-color: pink
}

.box {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  dispay: inline-block;
  line-height: 30px;
  background-color: yellow;
}

.board {
  display: inline-flex;
  flex-wrap: wrap;
  width: 255px;
}
